domain-needed
bogus-priv
no-resolv
listen-address={{ wsl_private_ip }}
bind-interfaces

address=/.{{ wsl_domain_ending }}/{{ wsl_private_ip }}

server={{ wsl_windows_ip }}
server=8.8.8.8
server=1.1.1.1
server=1.0.0.1
server=8.8.4.4
