[Unit]
Description=MailHog Email Catcher
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/mailhog -smtp-bind-addr :25
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target