realpath_cache_size=4096K
realpath_cache_ttl=600
opcache.enable=0
xdebug.default_enable=1
xdebug.remote_autostart=1
xdebug.remote_enable=1
xdebug.remote_port=9000
xdebug.idekey="PHPSTORM"
xdebug.remote_timeout=10