wsl_username: wsl
wsl_prefix: 192.168.50
wsl_private_ip: "{{ wsl_prefix }}.16"
wsl_windows_ip: "{{ wsl_prefix }}.88"
wsl_domain_ending: wsl

# you can add options from other roles below

### roles

user_packages: []

# composer with wrapper
composer_wrapper_install: true

# nodejs
nodejs_install: true
nodejs_version: 18

# wpcli
wpcli_install: true
wpcli_version: 2.7.1

# yarn
yarn_install: true

# phpstorm
phpstorm_install: true
phpstorm_version: newest





mariadb_version: 10.6
mariadb_root_password: wsl

mariadb_user_name: wsl
mariadb_user_password: wsl

ssl_domains_prefix:
  - "*.site"
  - "phpinfo"
  - "*.phpinfo"
  - "mailhog"
  - "pma"

# php
php_versions:
   - 7.4
   - 8.0
   - 8.1
   - 8.2

php_default_version: 8.1
