wsl_username: wsl
wsl_private_ip: 192.168.50.16
wsl_windows_ip: 192.168.50.88
wsl_domain_ending: wsl

# you can add options from other roles below

# roles
mariadb_version: 10.6
mariadb_root_password: wsl

mariadb_user_name: wsl
mariadb_user_password: wsl

ssl_domains_prefix:
  - "*.site"
  - "phpinfo"
  - "*.phpinfo"
  - "mailhog"
  - "pma"

# php
php_versions:
   - 7.4
   - 8.0
   - 8.1

php_default_version: 8.0
