server {
    listen 80 default_server;
    server_name  _;

    return 302 https://$host$request_uri;
}

server {
    listen 443 ssl http2 default_server;
    server_name  _;

    ssl_certificate ssl/{{ wsl_domain_ending }}.crt;
    ssl_certificate_key ssl/{{ wsl_domain_ending }}.key;

    add_header Content-Type text/html;
    return 200 "<H1>$host missing</H1>";
}
