ip addr add 192.168.50.16/24 broadcast 192.168.50.255 dev eth0 label eth0:1
service ssh start
service nginx start
service mariadb start
service mailhog start
service redis-server start
service php7.4-fpm start
service php8.0-fpm start
